body{
  background-color: #111518;
}

#navbar {
  background-color: rgba(238, 191, 51, 0.863);
  border-radius: 0;
}

#fakenews{
  color: rgba(218, 217, 216, 0.863);
}

#question {
  color: rgb(245, 189, 23);
  font-size: 50px;
}

#label-container {
  padding: 0 100px 20px;
}

#card-container {
  padding: 0 100px 20px;
}

#footer {
  position: fixed;
  bottom: 0;
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgb(19, 18, 17);
  width: 100vw;
  text-align: center;
}

.footer-content {
  color: white;
}

.italic {
  font-style: italic;
}

.breaking-img{
  width: 200px;
  height: 300px;
}